body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  background-color: rgba(231, 243, 249, 226);
}

/* Header: Container för hela headern */
.headerBorder {
  background-color: #002d5a;
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items:center;
  position: relative;
}

/* Header: Anger hur stor vidd av headern innehållet inuti den får ta upp */
.headerContent {
  width: 80vw;
}


/* Logga: Container för logga */
.imgWrapper {
  height: 100px; /* Set the desired height */
  width: auto;
  position: absolute;
  bottom: 10%;

}

/* Bildens storlek sätts till 100% för att max ta upp 100 % av containern här ovan (.imgWrapper)*/
.image {
  height: 100%;
  width:100%;
}

/* HTML-tagg för innehåll (ex header & footer) */
main {
  min-height: 100vh;
}

/* Navigering: */
nav {
  position: absolute;
  bottom: 0;
  text-align: start;
}
/* Navigering: (ul & li är listan som navigeringen består av) */
ul {
  list-style: none;
  gap: 1rem;
  display: flex;
  position: relative;
  bottom:-10px
}
li {
  font-weight: bold;
  bottom: -2px;
}
/* Navigering: a är länktaggarna */
a {
  text-decoration: none;
  color: #333333;
  letter-spacing: 0.5px;
}
a:hover {
  border-bottom: 22px solid rgba(150, 148, 148, 0.308);

}

/* Innehåll: Detta är allt mellan header och footer, bla sections */
.mainWrapper {
  padding-top: 2rem;;
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 1rem;

  }

/*   Stora titeln på sidan  */
 .heading {
    width: 80vw;
    font-size: 2rem; /* Storlek på titeln, kan anges i px om ni vill det också */
    color: #002d5a;
    font-weight: 900;
    line-height: 1.11;
  }

/*   Mindre headings, inledning, befintliga URI:er etc */
  .heading-smaller {
    font-size:1.5rem;
    font-weight: bolder;
  }

/*   Den vita ramen kring texten  */
  .white-frame {
    width: 80vw;
    background-color: #ffffff;
    padding: 10px 25px 25px 25px;
    border-bottom-right-radius: 25px;
    display: inline-block;
    color: #002d5a;
  }

  /* Innehåll: Innehållet i mainWrapper */
  .section {
    width: 80vw;
  }

/*   Tabell: Container som gör tabellen scrollbar i mobilläge */
  .mobilescroll th {
    width: 100%;

  }
  @media screen and (max-device-width: 844px) {
    .mobilescroll {
      overflow: auto;
      max-width: 100%;

    }
  }
  /* Tabell: */
  table {
    border-collapse: collapse;
/*     //width: 100%; */
  }

    /* Tabell: Headern på tabellen*/
  th {
    padding: 1rem;
    background-color:#002d5a;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    line-height: 1.11;
    text-align: left;
    border-right: 1px solid #002d5a;
    border-left: 1px solid #002d5a;
  }

    /* Tabell: dataceller i tabellen  */
  td {
    border: 1px solid #333333;
    padding: 10px;
    text-align: left;
    vertical-align: top;

  }

/* Ändra storleken här för tabellkolumnerna */
 .table th:nth-child(1),
.table td:nth-child(1) {
  width: 20%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 10%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
  width: 10%;
}

.table th:nth-child(4),
.table td:nth-child(4) {
  width: 10%;
}

.table th:nth-child(5),
.table td:nth-child(5) {
  width: 15%;
}

.table th:nth-child(6),
.table td:nth-child(6) {
  width: 15%;
}

  .footer {
    margin-top: 30px;
    bottom: 0;
    background-color: #002d5a;
    width: 100%;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
  }

  .footerContent {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 70vw;
    color: white;
  }
